<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ali Rashidian Portfolio</title>
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link type="text/css" rel="stylesheet" href="assets/css/materialize.min.css"  media="screen,projection"/>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>

      <div class="header">
        <div class="col-1">
          <a href=" ">Home</a>
        </div>
        <div class="col-1">
          <a href="">Projects</a>
        </div>
        <div class="col-1">
          <a href="#">Resume</a>
        </div>
        <div class="col-1">
          <a href="#">Contact</a>
        </div>
        <div class="col-5">

        </div>
        <div class="col-1">
          <a href="#"><span style=" font-family:Brandon_light ;color:black; font-size:1.250em">alex.80.ra@gmail.com</span></a>
        </div>
        <div style="width:9.375em">
          <span style=" font-family:Brandon_light ;color:black; font-size:1.250em">408-800-5859</span>
        </div>
        <div class="col-1">
          <a href="http:\\www.facebook.com"><img src="assets\images\facebook_logo.png" alt="facebook_logo" >
          </a>
        </div>
        <div class="col-1">
          <a href=""><img src="assets\images\tweeter_logo.png" alt="tweeter_logo"></a>
        </div>

      </div>

      <div class="main">
        <h2 style="text-align:center; color:black; font-size:1.500em">ALI RASHIDIAN</h2>
      </div>
      <!-- parallax background -->
      <div class="parallax">
        <div class="parallax_text">
          <div id="text_animate" style="margin-left:1em;"><h3>A Creative Web Developer</h3></div>
          <div id="text_animate">
          <span style="color:white;font-family:Brandon_light; font-size:4.500em;">ALI RASHIDIAN</span>
          </div>
          <div id="desc_animate">
            <p>Hi there. I’m Ali Rashidian, a San Francisco-based Web Developer. I create and develop beautiful websites which are engaging, interactive, and user friendly. I love collaborating with my passionate clients to build them a custom website that is fully functional and rich with useful features. Get in touch to learn more about the exciting projects I’ve worked on in the past.</p>
          </div>

          <button type="button" name="learn_more" style="position:relative; top:160px;">Learn More</button>

        </div>
      </div>


      <!-- Parallex foreground -->
      <div class="parallax_foreground" style="height:1600px; background-color:white; font-size:36px;">

        <div class="left">
            <div >
              <span class="font_24" style="text-transform:uppercase">app conceptual design</span>
              <br>
              <span class="font_24">Date</span>
            </div>
            <div class="img2">
              <img src="assets/images/img2.JPG" alt="img2">
            </div>
            <div style="position: relative;top: 672px;left:240px;text-transform:uppercase">
              <span class="font_24" style="text-transform:uppercase">landing page animation</span>
              <br>
              <span class="font_24">Date</span>
            </div>
        <!-- end of the left div -->
        </div>

        <div class="right">
          <div class="img1">
            <img src="assets/images/img1.webp" alt="image1">
          </div>
          <div style="margin-top:6em">
            <span class="font_24" style="text-transform:uppercase">user experience update</span>
            <br>
            <span class="font_24" >Date</span>
          </div>
          <div class="img3">
            <img src="assets/images/img3.jpeg" alt="image3">
          </div>


        <!-- end of the right div -->
        </div>

      <!-- end of the parallax foreground -->
      </div>

      <!-- skills div -->
      <div class="card-panel hoverable" style="background-color:#E5F0F1;text-align:center">
        <span class="font_36">Skills</span>
        <br><br>
        <span class="font_24"> Web Development with a Lasting Impact</span>
        <br><br><br>
        <div class="skills_wrapper" >
            <div class="skills_box" style="display:inline-block">
              <!-- image background -->
              <div class="skills_box1"></div>
              <div class="font_24b">
                <span>FRONT-END DEVELOPMENT</span>
                <br>
                <span>Loads of Experience</span>
              </div>
            </div>

            <div class="skills_box" style="display:inline-block; padding-top:3em;">
              <span class="font_24b" >JAVASCRIPT</span>
              <br>
              <span class="font_24b" >Exceeding Expectations</span>
              <div class="skills_box2"></div>

            </div>

            <div class="skills_box" style="display:inline-block">
              <!-- image background -->
              <div class="skills_box3"></div>
              <div class="font_24b">

                <span class="font_24b" >CSS</span>
                <br>
                <span class="font_24b" >Committed to Quality</span>
              </div>
            </div>
          </div>

        <!-- end of the hoverable card -->
      </div>

    <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>
